@page
@model Service.Pages.Cart.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cart.Id" />
            <div class="form-group">
                <label asp-for="Cart.Name" class="control-label"></label>
                <input asp-for="Cart.Name" class="form-control" />
                <span asp-validation-for="Cart.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cart.Description" class="control-label"></label>
                <input asp-for="Cart.Description" class="form-control" />
                <span asp-validation-for="Cart.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cart.SerialNumber" class="control-label"></label>
                <input asp-for="Cart.SerialNumber" class="form-control" />
                <span asp-validation-for="Cart.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cart.CreatedDate" class="control-label"></label>
                <input asp-for="Cart.CreatedDate" class="form-control" />
                <span asp-validation-for="Cart.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cart.StokPosition" class="control-label"></label>
                <input asp-for="Cart.StokPosition.Code" class="form-control" />
                <span asp-validation-for="Cart.StokPosition.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cart.Location" class="control-label"></label>
                <input asp-for="Cart.Location.Code" class="form-control" />
                <span asp-validation-for="Cart.Location.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
