@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">OnitService</h1>
    <p><a href="https://github.com/asharossetti/ProjectOnit" target="_blank">&copy; by Asha Rossetti</a></p>
</div>
